/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;

  /* text-decoration: none; */
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  width: 768px;
  margin: auto;
  
}
nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  width: 768px;
  color: #5b5e6d;
  background: #fff;
  border-bottom: solid #f3f2f3;
  margin: auto;
}

nav img {
  width: 200px;
  height: 100%;
  margin-left: 65px;
  margin-top: 25px;
  margin-bottom: 20px;
}

nav ul,
nav :last-child {
  display: none;
}

nav i {
  font-size: 50px;
  margin-top: 50px;
  margin-right: 55px;
  margin-left: 55px;
  margin-bottom: 50px;
}

header {
  margin-top: 200px;
  width: 768px;
  margin-left: auto;
  margin-right: auto;
}

header h1 {
  font-size: 5em;
  margin-left: 70px;
  margin-right: 70px;
  font-family: serif;
  color: #2c303f;
  line-height: 0.9em;
}

header p {
  font-size: 1.8em;
  margin-top: 1.5em;
  margin-left: 70px;
  margin-right: 70px;
  line-height: 1.7em;
  color: #5b5e6d;
}

input {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 80px;
  border: solid #f3f2f3;
  border-radius: 10px;
  width: 650px;
  height: 110px;
  font-size: 2.2em;
  padding-left: 30px;
}

.get-started {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 40px;
  background: #192592;
  color: #fff;
  border-radius: 10px;
  width: 650px;
  height: 110px;
  font-size: 2.2em;
  padding-left: 30px;
  font-size: 1.8em;
  font-weight: 600;
}

header p:last-of-type {
  font-size: 1.8em;
  margin-top: 1.3em;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.7em;
  color: #5b5e6d;
  text-align: center;
}

header img {
  display: block;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
}

main {
  border-top: solid #f3f2f4;

  text-align: center;
  width: 768px;
  margin: auto;
}

main div:first-child {
  padding-top: 10px;
  background: #f4f3f4;
  border-top: solid #f3f2f3;
  border-bottom: solid 1px hsl(300, 3%, 90%);
}

main h2 {
  font-size: 3.6em;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 90px;
  margin-bottom: 40px;
  font-family: serif;
  color: #2c303f;
  line-height: 0.9em;
}

main p {
  font-size: 1.8em;
  /* margin-top: 20px; */
  margin-left: 70px;
  margin-right: 70px;
  line-height: 1.7em;
  color: #5b5e6d;
}

main img {
  width: 384px;
  margin: auto;
  height: auto;
}

main button {
  margin-top: 40px;
  background: #fff;
  color: #192592;
  border: #192592 solid;
  border-width: 1px;
  border-radius: 10px;
  width: 650px;
  height: 110px;
  font-size: 1.8em;
  font-weight: 600;
}

.partners {
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
  width: 630px;
  margin: auto;
}

.partners:last-of-type {
  height: 280px;
}

.partners img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ticketmaster {
  margin-top: 75px;
}

hr {
  border: solid 1px hsl(300, 3%, 90%);
  width: 650px;
  height: 1px;
  margin: auto;
}

main p:nth-last-of-type(2) {
  font-family: serif;
  color: #2c303f;
  font-size: 2.8em;
  font-weight: 700;
  margin-top: 100px;
}

main button:last-of-type {
  margin-bottom: 90px;
}

form hr {
  width: auto;
}

footer {
  display: inline-block;
  color: #5b5e6d;
  width: 768px;
  
}

.footer_top {
  text-align: left;
  display: table;
}

.slack_logo {
  margin-left: 15px;
  margin-right: 548px;

  width: 220px;
  height: 220px;
}

.footer_top ul {
  width: 260px;
  font-size: 1.8em;
  font-weight: 500;
  margin-top: 1.5em;
  margin-left: 60px;
  margin-right: 70px;
  line-height: 2.7em;  
  float: left;
}

.footer_top ul li:first-of-type {
  font-weight: 700;
}

.footer_bottom {
  display: inline-block;
  font-size: 1.8em;
  font-weight: 700;
  width: 768px;
  height: 300px;
  background: #f4f3f4;
  line-height: 80px;  
  margin-top: 60px;
}

.footer_bottom div {
  height: 190px;
  position: relative;
  
}

.footer_bottom ul li {
  display: inline-block;
  margin: 15px;
   
}

.footer_bottom img {
    width: 40px;
    height: auto;
    transform: translateY(21%);
    margin-right: 15px;
}



.footer_bottom i {
 
 font-size: 1.2em;
 margin: 30px 20px 20px 20px;
}

