/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

nav img {
    width: 30%;
}

nav ul, nav :last-child {
    display: none;
}